header nav a,
header nav a:hover,
header button.navbar-toggler,
footer a,
footer a:hover {
    color:#fff;
}

header{
    position: relative;
    top:0;
    width: 100%;
    z-index: 2;
}

footer{
    position: fixed;
    bottom:0;
    width: 100%;
}

#content { 
    position: relative;
}

#copyright {
    color: #fff;
}

#social ul{
    text-align: right;
    margin: 0 auto;
}
.small_logo {
    text-indent:-9999px;
    display:inline-block;
    background: url(../images/mta-sprite.svg) no-repeat -528px -292px;
    width:49px;
    height:28px;
    cursor:pointer;
}

#table_of_contents {
    position: relative;
    flex: 0 0 25%;
    max-width: 25%;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden; /* Disable vertical scroll */
    background-color: #6c757d;
}
#toc_tab{
    display:none;
    position:absolute;
    top:0;
    right:0;
    width:24px;
    height:24px;
    text-align:center;
    z-index: 101;
}

.toc .input-group {
    position:inherit;
    margin:0;
    padding:0;
}
.toc .input-group input {
    width: calc(100% - 2.5rem);
}
.toc a {
    color: #efebe7;
    display:inline-block;
    width: calc(100% - 2rem);
}

.toc a.nav_toggle {
    width:1.5rem;
    height: 1.5rem;
    padding:.0;
    float:right;
    font-size:1.5rem;
    text-align:center;
    text-decoration:none;

}

#toc_filter_go {
    width:auto;
}

.toc ul {
    margin-left: 0;
    list-style-type: none;
    padding-left: 0;
}
.toc ul li {
    padding: 0;
    margin :0;
}

.toc span {
    padding: 0.5rem .3rem;
    display:inline-block;
    width:100%;
}
.toc li.active > span {
    background-color:#862633;
}

#parts ul {
    background-color: #565d64;
}

#parts ul ul {
    background-color: #40464b;
}

#parts ul ul ul {
    background-color: #2b2e32;
}

header .hero {
    width: 100%;
    margin-top:calc(1rem + 30px);
}

header h1 {
    position: absolute;
    top: 1rem;
    left:50%;
}

/*handle in-page anchors conflict with fixed header */
.titlepage {
    position: relative;
}
.titlepage a {
    position: absolute;
    left: 0px;
    top: calc(-1.5rem - 30px);
}

/* back to top styling */
.titlepage .top_link {
    padding-left: 1rem;
}

.sect1 > .titlepage,
.sect2 > .titlepage {
    cursor: pointer;
}
.sect1 > .titlepage .title:hover,
.sect2 > .titlepage .title:hover {
    color:#862633;
}
.sect1 > .titlepage .title .top_link,
.sect2 > .titlepage .title .top_link {
    visibility: hidden;
}
.sect1 > .titlepage .title:hover .top_link,
.sect2 > .titlepage .title:hover .top_link {
    visibility: visible;
}

#content{ 
    margin-bottom: 2.5rem;
}

.sect3{
    margin: 1rem 0;
}

@media (max-width: 1135px) {
    .hero h1 {
        left: auto;
        right: 0;
    }
}

@media (max-width: 768px) {

    #toc_tab {
        display:block;
    }

    #table_of_contents {
        height: 100%; /* 100% Full-height */
        width: 24px; /* 0 width - change this with JavaScript */
        max-width: 50%;
        position: fixed; /* Stay in place */
        z-index: 100; /* Stay on top */
        top: calc(1rem + 30px); /* Stay at the top under the main navbar */
        left: 0;
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the */
    }

    #table_of_contents .toc {
        display:none;
    }

    #calendar-content{
        margin-left:24px;
    }

    #content {
        margin-bottom: 4.5rem;
    }
}

@media (max-width: 576px) {
    .hero h1 {
        font-size: 1.5rem;
    }

    #copyright {
        text-align:right;
    }
}